name: nginx
services:
  main:
    image: nginx-proxy-acme-brotli:latest
    container_name: nginx
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./conf.d:/etc/nginx/conf.d:ro

      - ./logs/nginx:/var/log/nginx

      - ./ssl:/etc/nginx/ssl

      - ./acme:/var/www/acme

      - ./acme-state:/var/cache/nginx/acme-letsencrypt

      - ./html:/usr/share/nginx/html

      - nginx-cache:/var/cache/nginx

    environment:
      - NGINX_WORKER_PROCESSES=auto
      - NGINX_WORKER_CONNECTIONS=1024
      - NGX_ACME_STATE_PREFIX=/var/cache/nginx
      - ACME_CONTACT_EMAIL=user@email.com

volumes:
  nginx-cache:
    driver: local
